/* General styles */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#cont {
    width: 100%;
    background-color: #093764;
}

#cont-nav {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    box-sizing: border-box;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo img {
    flex-shrink: 0;
    margin-right: 20px;
}

#lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
}

#lista ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #f3e8e8;
    transition: color 0.3s ease;
}

#lista ul li a:hover {
    color: red;
}

/* Banner section */
.slide {
    width: 100%;
    height: auto;
    text-align: center;
}

#cont-tit-bnr {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

#tit-uno, #subtit {
    font-size: 40px;
    font-weight: 500;
    color: rgb(230, 237, 241);
    margin: 0;
    text-align: center;
}

/* Asegurar color blanco en todos los títulos */
h1, h2, h3, h4, h5, h6 {
    color: white;
}

/* Content styles */
#content {
    padding: 10px;
    margin-top: 20px;
}

.titulos h1 {
    text-align: center;
    font-size: 40px;
    color: white; /* ajustado a blanco */
}

/* Centrar los botones */
.ContIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.icon {
    text-align: center;
    color: #e2001a;
}

.icon img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.icon a {
    color: #e6ebf0;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon a:hover {
    color: red;
}

/* Efecto hover en imágenes */
.icon img:hover {
    transform: scale(1.1);
    border-color: red;
}

/* Responsividad */
@media (max-width: 1200px) {
    .ContIcons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .ContIcons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .ContIcons {
        justify-content: center;
    }
}
