/* Contenedor de íconos */
.ContIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icon {
    flex: 1 1 calc(16.66% - 20px); /* 16.66% asegura 6 íconos por fila */
    max-width: calc(16.66% - 20px);
    text-align: center;
}

/* Responsividad */
@media (max-width: 1200px) {
    .icon {
        flex: 1 1 calc(20% - 20px); /* 5 íconos por fila en pantallas medianas */
        max-width: calc(20% - 20px);
    }
}

@media (max-width: 992px) {
    .icon {
        flex: 1 1 calc(25% - 20px); /* 4 íconos por fila en pantallas más pequeñas */
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .icon {
        flex: 1 1 calc(33.33% - 20px); /* 3 íconos por fila en tablets */
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 480px) {
    .icon {
        flex: 1 1 calc(50% - 20px); /* 2 íconos por fila en móviles */
        max-width: calc(50% - 20px);
    }
}
